<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}  {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    <style>{% block styles %}  {% endblock %}</</style>
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Jose Moreno</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        {{ knp_menu_render('main', { 'style': 'navbar-right' }) }}
       
       
    </div><!-- /.navbar-collapse -->
</nav>
    <div class="container">
  {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            <em>Aviso</em>: {{ flashMessage }}
        </div>
    {% endfor %}
 {% block body %} 


 {% endblock %}
        </div>
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript" >  {% block scripts %}   {% endblock %}</script>
</body>
</html>
